*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
    
}
nav{
    width: 30px;
    margin-top: 0px;
    position: sticky;
    background: #191970;
}
body{
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url("../img/1234.jpg");
    background-position: center;
   background-size: 100% 100%;
   object-fit: cover;
/*   padding: 15%;*/
   position: relative;
   height: 100%;   
}
.container{
    padding: 10%;
}
.logo{
    width:120px;
    padding: 20px 0;
    cursor: pointer;
}
.content{
    top:50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
    
}
.content h1{
    font-size: 64px;
    font-weight: 600;
}
.content h1 span{
/*    color: yellow;*/
    
}
.launch-time{
    
    display: flex;    
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
    padding-left: 50px;
/*    color:#40F724;*/
	-webkit-text-stroke: 2px white;
    
}

.rocket{
    width: 250px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation:rocket 4s linear infinite;
}
@keyframes rocket{
   0%{
        bottom:0;
        opacity:0;
    }
    100%{
        bottom:105%;
        opacity:1;
    }

}