/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 21, 2023, 11:09:06 PM
    Author     : LENOVO
*/
.bg-image{
    width: 150px;
    height: 100px;
    position: relative;
    border-left: 0px
}

.display-3{
    margin: 0;
}
.container{
    display: flex;
}
.jumbotron{
    display: flex;
    border-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-top: 50px;
}

footer{
    text-align: center;
    padding-top: 50px;
    position: absolute;
}

checkbox mb-3{
    text-align: center;
}

.col-md-6 image{
    padding-left: 50px;
    width: 300px;
    height: 906px;
}

@media (min-width: 576px)
{
    .jumbotron {
    padding: 4rem 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
}
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}