/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23-Feb-2023, 1:55:21 pm
    Author     : ASUS
*/

     .bg-container {
  background-image: url("../img/mvoterland.jpg");
  width:50%;
  height:50%; 
  box-sizing:border-box;

  opacity: 1;
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.bg-container {
  width:100%;
  height:100%;
  /*border:5px solid red;*/
}
html, body {
  margin:0;
  height:100%;
  overflow:hidden;
}
.container > div{
    opacity: 1;
}
