/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23-Feb-2023, 1:55:21 pm
    Author     : ASUS
*/

     .bg-container {
  background-image: url("../img/indian-flag-tricolour-flag-national-flag-flag-of-india-5k-5120x2880-1546.jpg");
  width:50%;
  height:50%; 
  border:5px solid red;
  box-sizing:border-box;
  opacity: 1
}
.bg-container {
  width:100%;
  height:100%;
  border:5px solid red;
}
html, body {
  margin:0;
  height:100%;
  overflow:hidden;
}
.bg-container {
  background-image: url("../img/indian-flag-tricolour-flag-national-flag-flag-of-india-5k-5120x2880-1546.jpg");
  background-size:cover;
  
}
